.header {
    width: 100%;
}
.headerDefault {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}

.headerHome {
    background-color: transparent;
    border-bottom: none;
}
.headerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    width: 100%;
}

.blokNav {
    display: none;
}

.burgerBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: none;
    background-color: transparent;
    color: #ffffff;

    font-size: 26px;
    line-height: 1;
}

@media screen and (min-width: 768px) {
    .headerInner {
        min-height: 72px;
    }

    .blokNav {
        display: none;
    }

    .burgerBtn {
        display: flex;
    }
}

@media screen and (min-width: 1280px) {
    .headerInner {
        min-height: 80px;
    }

    .blokNav {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .burgerBtn {
        display: none;
    }
}