.authNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}
.authLinkLogin {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    width: 178px;
    height: 42px;
    
    background: #f6b83d;
    border: 1px solid rgba(255, 255, 255, 0.5);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;

    transition: background-color 250ms ease;

}


.authLinkRegister {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    width: 178px;
    height: 42px;
    
    background: #fff4df;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;

}
.authLinkRegister:hover,
.authLinkRegister:focus {
    background: #fbe7c1;
}
.authLinkLogin:hover,
.authLinkLogin:focus {
    background: #f9b020;
}

.authLinkLoginActive {
    color: #f6b83d;
    background: #fff4df;
}
@media screen and (min-width: 1280px) {
    .authNav {
        flex-direction: row;
    }
    .authLinkLogin {
        width: 119px;
        height: 50px;

        border: 1px solid rgba(255, 255, 255, 0.4);
        font-size: 16px;
        line-height: 1.25;

    }
    .authLinkRegister {
        width: 149px;
        height: 50px;
        font-size: 16px;
        line-height: 1.25;

    }

}